@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  /* Color Palette */
  --color-primary: #047857;
  --color-primary-dark: #065f46;
  --color-accent: #eefbf6;
  --color-text: #334155;
  --color-text-light: #64748b;
  --color-white: #ffffff;
  --color-border: #e2e8f0;
  --color-dark-section-bg: #173424;
  --color-gold-heading: #ecc24d;
  --color-gold-subheading: #d6b047;
  --navbar-height: 70px;
  --event-color-madrasa-younger: #3b82f6;
  --event-color-madrasa-older: #14b8a6;
  --event-color-jummah: #16a34a;
  --event-color-ijtimah: #f97316;

  --color-cta: #ffc107;
  --color-cta-text: #334155;

  --font-family-base: "Poppins", sans-serif;

  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text);
  background-color: #f8fafc;
  line-height: 1.6;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  color: var(--color-primary);
}
h4 {
  font-size: 1.1rem;
  color: var(--color-primary);
}
p {
  color: var(--color-text-light);
}

/* Scroll Margins */
#home,
#services,
#announcements,
#donate,
#gallery,
#footer {
  scroll-margin-top: var(--navbar-height);
}
#prayer-times {
  scroll-margin-top: 50px;
}
#about-us {
  scroll-margin-top: 100px;
}
